@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    display: flex;
    height: 400vw;
    margin: 2rem auto;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    width: 27%;
    height: 60rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5rem;
    transition: all 0.75s;
  }